body {
  background-color:rgb(28,28,28);
  margin: 0;
  font-family:"Saira";
}
h1 {
  color:#ffffff;
  text-align:center;
  letter-spacing: 6px;
  font-weight: 100;
}
p {
  color:#ffffff;
}

img {
  width: 100%;
  height: 100%;
}

.bg {
  height: 250px;
}
.bg img {
  object-fit: cover;
}

.menu {
  -webkit-box-shadow: 0px 0px 12px 2.5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 12px 2.5px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 12px 2.5px rgba(0, 0, 0, 0.8);
  background-color:rgb(37,37,37);
  position: -webkit-sticky; 
  position: sticky;
}

.container {
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 0;
}
.name {
  font-weight: 900;
}

.container div {
  font-size: 2em;
  padding: 5px 15px 5px 15px;
}

.projects {
  margin: 15px 10%;
  padding: 15px;
  color: white;
  border-radius: 15px;

  -webkit-box-shadow: 0px 0px 12px 2.5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 12px 2.5px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 12px 2.5px rgba(0, 0, 0, 0.8);
  background-color:rgb(37,37,37);
}
.projects h2 {
 margin: 5px 0;
}

.projectList {
  list-style-type: none;
  list-style: none;
  padding: 10px;
}
.projectList li {
  display: flex;
  margin: 0 0 20px 0;

  -webkit-box-shadow: 0px 0px 12px 2.5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 12px 2.5px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 12px 2.5px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}
.projectImg {
  flex: 60%;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;

  -webkit-box-shadow: 0px 0px 12px 2.5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 12px 2.5px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 12px 2.5px rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.projectText {
  flex: 40%;
  padding: 10px 10px 10px 15px;

}

