* {
  margin: 0;
  padding: 0;
}

.accordian {
  margin-top: 35px;
  /*width: 805px;*/
  height: 320px;
  overflow: hidden;
  /*margin: 100px auto;*/
  /*box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);*/
  /*-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);*/
  /*-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);*/
}

.accordian ul {
  width: 1200px;
}

.accordian li {
  position: relative;
  display: block;
  width: 160px;
  float: left;
  border-left: 1px solid #888;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.accordian ul:hover li {
  width: 40px;
}

.accordian ul li:hover {
  width: 640px;
}

.accordian li img {
  display: block;
}

.image_title {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 640px;
  height: 60px;
}

.development-right-column {
  max-width: 700px;
  padding-top: 33px;
}

.development-container.vbar-flex {
  max-width: 1450px;
  margin-top: 100px;
}

.development-header {
  color: var(--bs-white);
  margin: 0;
  font-size: 48px;
  padding-top: 25px;
}

.project-double-image {
  margin-bottom: 30px;
  max-width: 100%;
  /*aspect-ratio: 1.2;*/
  object-fit: cover;
}

