.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.project {
}

.present-project-text {
  max-width: 34%;
}

.present-project-title {
  color: #004e79;
  font-weight: bold;
}

.button-div {
  display: flex;
  align-items: center;
}

.button-container {
  text-align: center;
  margin: auto;
  /*padding-top: 75px;*/
  margin-bottom: 150px;
  margin-top: 162px;
}

.project-content-container {
  /*justify-content: center;*/
  /*padding: 0 100px;*/
  margin-top: 175px;
  max-width: 1550px;
}

.project-intro-container {
  /*padding: 0 100px;*/
  max-width: 1450px;
}

.project-container {
  /*margin-right: 10px;*/
  max-width: 1400px;
}

.project-intro-p {
  text-align: justify;
  /*padding: 25px 0;*/
}

.project-intro-header {
  color: var(--bs-black);
  margin: 0;
  font-size: 48px;
  padding-top: 25px;
}

.project-intro-left-column {
  padding: 0px;
  max-width: 100%;
  max-width: 500px;
}

.project-intro-right-column {
  padding: 0px;
  max-width: 100%;
  max-width: 500px;
}

.project-content-image-column {
  padding: 0px;
  max-width: 100%;
  max-width: 800px;
}

.project-content-text-column {
  padding: 0px;
  /*max-width: 100%;*/
  max-width: 500px;
}

.project-intro-column {
  padding: 0px;
  /*max-width: 100%;*/
  max-width: 500px;
}

.project-content-middle-column {
  /*max-width: 33.33%;*/
  min-width: 0px;
  flex: 0%;
}

.project-intro-middle-column {
  /*max-width: 33.33%;*/
  min-width: 0px;
  flex: 0%;
}

.small-bar {
  background: #004e79;
  height: 2px;
  margin: 8px 0;
}

.project-intro-sigp {
  padding-bottom: 50px;
}

.project-intro-large-image-div {
  margin-bottom: 30px;
}

.contact-info-p {
  font-weight: 500;
  margin: 6px 0;
  transition: all 0.1s ease-out;
}

.contact-info-p:hover {
  transition: all 0.1s ease-out;
  transform: scale(1.1);
  /*text-decoration-line: underline;*/
  /*text-decoration-color: #004e79;*/
  /*text-decoration-thickness: 3px;*/
  /*text-decoration-skip-ink: none;*/
}

.project-content-p {
  font-size: 20px;
  margin-bottom: 15px;
}

.project-content-header {
  font-size: 32px;
  margin-bottom: 10px;
}

.project-info-p {
  position: absolute;
  top: 50px;
  width: 66%;
  margin-left: 15px;
  margin-bottom: 10px;
  opacity: 0%;
  transition: 0.2s;
}

.project-bg-right {
  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 150px;
  height: 150px;
  clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
  transition: all 0.3s ease;
  display: block;
  /*transform: translateX(-0.2px);*/
}

.project-mini-bg-left {
  height: 36px;
  /*clip-path: polygon(0% 0, 85% 0, 25% 100%, 0% 100%);*/
  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /*display: block;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-bg-left {
  /*clip-path: polygon(0% 0, 85% 0, 25% 100%, 0% 100%);*/
  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: block;
}

.project-info-p-holder {
  width: 100%;
}

.project-img-back {
  transition: all 0.5s ease-in;
  /*display: none;*/
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}

.project-div:hover .project-img-back {
  opacity: 1;
  transition: all 0.5s ease-in;
  transition-delay: 0.8s;
}

.project-text-div {
  position: absolute;
  bottom: -100px;
  left: 0px;
  height: 150px;
  width: 100%;
  transition: all .5s ease-out;
}

.project-mini-text-div {
  position: absolute;
  bottom: -122px;
  left: 0px;
  height: 155px;
  width: 100%;
  transition: all .5s ease-out;
}

.project-text-div {
  position: absolute;
  bottom: -100px;
  left: 0px;
  height: 150px;
  width: 100%;
  transition: all .5s ease-out;
}

.project-info-p-2 {
  position: absolute;
  top: 105px;
  width: 65%;
  margin-left: 15px;
  margin-bottom: 10px;
}

.project-arrow-more {
  width: 50px;
  height: 50px;
  right: 500px;
  top: 500px;
  position: absolute;
  /*display: inline-block;*/
  font-weight: 800;
  font-size: 1.5rem;
  transform: rotate(-45deg);
}

.project-arrow-see {
  width: 50px;
  height: 50px;
  top: -500px;
  right: 500px;
  position: absolute;
  transform: rotate(45deg);
  /*display: inline-block;*/
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #004e79;
}

.project-arrow-holder {
  opacity: 0%;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  /*justify-content: left;*/
  display: block;
}

.project-div:hover .project-arrow-holder {
  animation: wiggle 0.8s;
  animation-delay: 1s;
  opacity: 100%;
  transition: 0.3s;
  /*animation-timing-function: cubic-bezier();*/
}

.project-div:hover .project-arrow-more {
  right: 50px;
  top: 79px;
  transition: 0.8s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
}

.project-div:hover .project-arrow-see {
  right: 60px;
  top: 29px;
  transition: 0.8s;
  /*transition-timing-function: ease-in-out;*/
}

.project-arrow-see:hover .project-arrow-holder {
  transform: scale(1.2);
  transition: 0.2s;
}

.project-arrow-more:hover {
  transform: scale(1.2) rotate(-45deg);
  transition: 0.2s;
}

.project-arrow-see:hover {
  transform: scale(1.4) rotate(45deg);
  transition: 0.2s;
}

.project-arrow-button {
  position: absolute;
  height: 100px;
  width: 70px;
  right: 40px;
  top: 28px;
}

.project-arrow-button:hover .project-arrow-holder {
}

.project-mini-text {
}

.project-mini-title-right {
  text-align: end;
  display: inline-block;
  font-size: 10px;
  color: var(--bs-gray-900);
  margin-left: 13px;
  margin-top: 2px;
  padding-top: 3px;
  margin-right: 13px;
  font-weight: 600;
  white-space: nowrap;
}

.vbar {
  margin-top: 25px;
  margin-right: 1.3%;
  min-width: 4px;
  /*width: 30px;*/
  border-radius: 2px;
}

.vbar-flex {
  display: flex;
  flex-direction: row;
}

.project-intro-column-right {
  padding: 0;
  max-width: 500px;
}

