.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.project {
}

.present-project-text {
  max-width: 34%;
}

.present-project-title {
  color: #004e79;
  font-weight: bold;
}

.button-div {
  display: flex;
  align-items: center;
}

.button-container {
  text-align: center;
  margin: auto;
  /*padding-top: 75px;*/
  margin-bottom: 150px;
  margin-top: 162px;
}

.project-content-container {
  /*padding: 0 100px;*/
  margin-top: 175px;
  max-width: 1550px;
}

.project-intro-container {
  /*padding: 0 100px;*/
  max-width: 1550px;
}

.project-container {
  /*margin-right: 10px;*/
  max-width: 1550px;
}

.project-intro-p {
  text-align: justify;
  padding: 25px 0;
}

.project-intro-header {
  font-size: 48px;
  padding-top: 25px;
}

.project-intro-left-column {
  padding: 0px;
  max-width: 100%;
  max-width: 500px;
}

.project-intro-right-column {
  padding: 0px;
  max-width: 100%;
  max-width: 500px;
}

.project-content-image-column {
  padding: 0px;
  max-width: 100%;
  max-width: 800px;
}

.project-content-text-column {
  padding: 0px;
  /*max-width: 100%;*/
  max-width: 500px;
}

.project-intro-column {
  padding: 0px;
  max-width: 100%;
  max-width: 500px;
}

.project-content-middle-column {
  /*max-width: 33.33%;*/
  min-width: 0px;
  flex: 0%;
}

.project-intro-middle-column {
  /*max-width: 33.33%;*/
  min-width: 0px;
  flex: 0%;
}

.small-bar {
  background: #004e79;
  height: 2px;
  margin: 5px 0;
}

.project-intro-sigp {
  padding-bottom: 50px;
}

.project-intro-large-image-div {
  margin-bottom: 25px;
}

.contact-info-p {
  font-weight: 500;
  margin: 6px 0;
  transition: all 0.1s ease-out;
}

.contact-info-p:hover {
  transition: all 0.1s ease-out;
  transform: scale(1.1);
  /*text-decoration-line: underline;*/
  /*text-decoration-color: #004e79;*/
  /*text-decoration-thickness: 3px;*/
  /*text-decoration-skip-ink: none;*/
}

.project-content-p {
  font-size: 20px;
  margin-bottom: 15px;
}

.project-content-header {
  font-size: 32px;
  margin-bottom: 10px;
}

