* {
  box-sizing: border-box;
}

.rig-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.rig-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

@media (max-width: 768px) {
  .rig-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .rig-column {
    flex: 100%;
    max-width: 100%;
  }
}

