* {
  box-sizing: border-box;
}

.rig-header {
  /*text-align: center;*/
  /*padding-top: 32px;*/
}

.rig-row {
  display: flex;
  flex-wrap: wrap;
}

.rig-dev-column {
  flex: 20%;
  max-width: 50%;
  padding: 0 4px;
  /*margin-top: 25px;*/
}

.rig-column {
  flex: 20%;
  max-width: 50%;
  padding: 0 12.5px;
  /*margin-top: 94px;*/
}

@media (max-width: 768px) {
  .rig-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .rig-column {
    flex: 100%;
    max-width: 100%;
  }
}

.rig-dev-column img {
  /*border-radius: 20px;*/
  margin-bottom: 8px;
  width: 100%;
  vertical-align: middle;
}

.rig-column img {
  /*margin-top: 50px;*/
  width: 100%;
  vertical-align: middle;
}

@media (max-width: 576px) {
  .project-info-p-2 {
    font-size: 10px;
    top: 85px;
  }
}

@media (max-width: 576px) {
  .project-title {
    font-size: 14px;
    margin-top: 5px;
  }
}

