* {
  box-sizing: border-box;
}

.rig-header {
  /*text-align: center;*/
  /*padding-top: 32px;*/
}

.rig-row {
  display: flex;
  flex-wrap: wrap;
}

.rig-column {
  flex: 33.33%;
  max-width: 50%;
  padding: 0 12.5px;
  /*margin-top: 94px;*/
}

@media (max-width: 768px) {
  .rig-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .rig-column {
    flex: 100%;
    max-width: 100%;
  }
}

.rig-column img {
  /*margin-top: 50px;*/
  width: 100%;
  vertical-align: middle;
}

