body {
  margin: 0;
  font-family: Saira,Arial, sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: 400;
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

#promo {
  text-align: center;
  padding: 50px;
  background: url("../../assets/img/20220204_145731.jpg") no-repeat;
  background-size: cover;
}

@media (max-width: 900px) {
  #promo {
    padding: 20px;
  }
}

.container {
  padding: 40px;
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

#welcome p {
  max-width: 1200px;
  font-size: 20px;
  margin: 0 auto;
}

.fas.fa-laptop-code {
  font-size: 30px;
}

h2 {
  margin-top: 10px;
  font-size: 28px;
  /*color: rgb(0,78,121);*/
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

.row {
  /*padding-bottom: 50px;*/
  /*max-width: 1200px;*/
  margin: auto;
}

.project-text {
  max-width: 400px;
  margin: auto 0;
}

.project-div {
  max-width: 1000px;
  margin: auto;
  border-radius: 30px;
  outline: dashed;
  outline-color: #004e79;
  outline-width: 4px;
  margin-bottom: 50px;
  transition: transform 1s ease-out;
}

.project-div:hover {
  max-width: 1000px;
  margin: auto;
  border-radius: 30px;
  outline-color: #004e79;
  outline-width: 4px;
  /*outline: dashed;*/
  margin-bottom: 50px;
  transition: all 0.3s ease-out;
  transform: scale(1.1);
}

.navbar-brand {
  margin-left: 25px;
}

.project-img {
  margin: 20px;
}

.learn-more-text {
  margin: auto 0;
}

.project-heading {
  max-width: 308px;
  margin: auto;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

p {
  max-width: 1000px;
  margin: auto;
}

.bar {
  margin: auto;
}

.nav-button {
  font-weight: 600;
  transition: transform 0.1s ease-out;
}

.nav-button:hover {
  transition: all 0.1s ease-out;
  transform: scale(1.05);
  /*min-width: 1000px;*/
}

.img-box {
  float: right;
  transition: transform 0.5s ease-out;
}

.img-box:hover {
  /*outline-style: solid;*/
  /*transition: all 0.25s ease-out;*/
  transition: width 1s, height 1s, transform 1s;
  /*transition-delay: 0.5s;*/
  transform: scale(2);
}

.img-caption {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  display: inline-flex;
  background-color: #ffffff;
}

.zoom-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  border-radius: 15px;
  /*margin-top: 48px;*/
}

.img-circle {
  border-radius: 50%;
  float: right;
  shape-outside: circle();
}

.p-justified {
  /*text-align: justify;*/
}

.expertise-area {
  margin: auto;
  margin-top: 10px;
}

.project-title {
  font-weight: 700;
  color: #004e79;
}

