body {
  margin: 0;
  font-family: Saira,Arial, sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: 400;
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

#promo {
  text-align: center;
  padding: 50px;
  background: url("../../assets/img/Steel%20Ball%20Machine/20220204_145731.jpg") no-repeat;
  background-size: cover;
}

@media (max-width: 900px) {
  #promo {
    padding: 20px;
  }
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

#welcome p {
  max-width: 1200px;
  font-size: 20px;
  margin: 0 auto;
}

.fas.fa-laptop-code {
  font-size: 30px;
}

h2 {
  font-size: 26px;
  color: var(--bs-gray-800);
  font-weight: 500;
}

h4 {
  font-size: 23px;
  font-weight: 500;
}

.row {
  /*padding-bottom: 50px;*/
  /*max-width: 1200px;*/
  margin: 0 2.5%;
}

.project-div:hover .project-bg-right {
  transition: all 0.6s ease;
  width: 200%;
  /*height: 150%;*/
  clip-path: polygon(0% 0%,100% 0%, 100% 100%, 0% 100%);
  /*transition: clip-path .75s ease;*/
}

.project-div:hover .project-text-div {
  transition: all 0.3s ease-in;
  transform: translateY(-99px);
  /*transform: translateY(77px);*/
}

@media (max-width: 576px) {
  .project-info-p {
    max-width: 400px;
    font-size: 10px;
    top: 35px;
  }
}

.project-text {
  display: flex;
}

.project-intro-large-img-div {
  position: relative;
  /*border-radius: 10px;*/
  /*box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.25);*/
  margin-bottom: 25px;
  transition: all 0.5s ease-out;
  object-fit: cover;
  overflow: hidden;
}

.project-div {
  position: relative;
  /*border-radius: 10px;*/
  /*box-shadow: 5px 5px 16px 3px rgba(0,0,0,0.5);*/
  margin-bottom: 26px;
  transition: all 0.3s ease-out;
  object-fit: cover;
  overflow: hidden;
  /*transition-delay: 1s;*/
}

.project-div:hover {
  padding-bottom: 30px;
  transition: all 0.3s ease-in;
  object-fit: cover;
  overflow: hidden;
}

.navbar-brand {
  margin-left: 25px;
}

.project-div:hover .project-img {
  /*display: none;*/
  transition: all 0.5s ease-in;
  transform: scale(1.15) translateY(15px);
}

.project-img {
  display: inline;
  transition: all .5s ease-in;
  /*border-radius: 20px 20px 20px 0px;*/
  /*transition-delay: 1s;*/
}

.learn-more-text {
  margin: auto 0;
}

.project-heading {
  margin: 0 12.5px;
}

a {
  text-decoration: none;
}

p {
  margin: auto;
  color: var(--bs-gray-800);
}

.bar {
  background: #004e79;
  margin: auto;
  height: 4px;
}

.navbar-button {
  /*color: #004e79;*/
  background: rgb(255,255,255);
  border-width: 3px;
  padding-top: 11px;
  border-color: #004e79;
  height: 46.5px;
  --bs-body-font-weight: bold;
  font-weight: bold;
  font-family: Saira, sans-serif;
  --bs-body-font-size: 0rem;
  margin: auto;
  transition: transform 0.1s ease-out;
  font-size: 15px;
  font-weight: 600;
}

.nav-button {
  color: #004e79;
  background: rgb(255,255,255);
  border-radius: 25px;
  border-width: 3px;
  border-color: #004e79;
  font-size: 21px;
  height: 46.5px;
  padding: 5px 16px;
  padding-top: 5px;
  padding-right: 15px;
  --bs-body-font-weight: bold;
  font-weight: bold;
  font-family: Saira, sans-serif;
  --bs-body-font-size: 0rem;
  margin: auto;
  transition: transform 0.1s ease-out;
}

.navbar-button:hover {
  transition: all 0.1s ease-out;
  transform: scale(1.2);
  /*min-width: 1000px;*/
  background-color: #004e79;
  text-decoration-line: underline;
  text-decoration-color: #004e79;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

.nav-button:hover {
  transition: all 0.1s ease-out;
  transform: scale(1.05);
  /*min-width: 1000px;*/
  background-color: #004e79;
  border-color: #004e79;
}

.img-box {
  float: right;
  transition: transform 0.5s ease-out;
  width: 313px;
  height: 200px;
  margin: 18px;
  margin-bottom: 45px;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 3px;
}

.img-box:hover {
  /*outline-style: solid;*/
  /*transition: all 0.25s ease-out;*/
  transition: width 1s, height 1s, transform 1s;
  /*transition-delay: 0.5s;*/
  transform: scale(1.2);
  transition-timing-function: ease-in;
}

.img-caption {
  padding-right: 5px;
  border-radius: 5px;
  display: inline-flex;
  background-color: #ffffff;
}

.zoom-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.img-circle {
  border-radius: 50%;
  float: right;
  shape-outside: circle();
  height: 370px;
  border: 5px solid #004e79;
  margin: 23px;
  margin-right: -14px;
  margin-top: 18px;
}

.p-justified {
  /*text-align: justify;*/
}

.expertise-area {
  margin: auto;
  margin-top: 10px;
}

.project-title {
  /*display: inline-block;*/
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: 600;
  color: #004e79;
  white-space: nowrap;
  text-align: left;
}

@media (max-width: 576px) {
  .project-text-div {
    bottom: -115px;
  }
}

@media (max-width: 576px) {
  .img-circle {
    height: 200px;
    margin: 10px;
    margin-right: -10px;
  }
}

@media (max-width: 576px) {
  .img-box {
    width: 100%;
  }
}

.project-div:hover .project-info-p {
  opacity: 100%;
  transition: 0.2s;
}

