body {
  margin: 0;
  font-family: Saira,Arial, sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: 400;
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

#promo {
  text-align: center;
  padding: 50px;
  background: url("../../assets/img/20220204_145731.jpg") no-repeat;
  background-size: cover;
}

@media (max-width: 900px) {
  #promo {
    padding: 20px;
  }
}

.container {
  /*text-align: center;*/
  margin: auto;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

#welcome p {
  max-width: 1200px;
  font-size: 20px;
  margin: 0 auto;
}

.fas.fa-laptop-code {
  font-size: 30px;
}

h2 {
  font-size: 28px;
  color: var(--bs-gray-800);
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

.row {
  /*padding-bottom: 50px;*/
  /*max-width: 1200px;*/
  margin: auto;
}

.project-div:hover .project-text {
  transition: all 0.3s ease-in;
  transform: translateY(-120px);
}

.project-text {
  position: absolute;
  top: 100%;
  left: 0px;
  /*clip-path: polygon(0% 0, 85% 0, 25% 100%, 0% 100%);*/
  background: rgba(255,255,255,0.75);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-top: 5px;
  transition: all .5s ease-out;
}

.project-div {
  position: relative;
  border-radius: 10px;
  /*box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.25);*/
  margin-bottom: 22px;
  transition: all 0.5s ease-out;
  object-fit: cover;
  overflow: hidden;
}

.project-div:hover {
  padding-bottom: 50px;
  transition: all 0.5s ease-in;
  object-fit: cover;
  overflow: hidden;
}

.navbar-brand {
  margin-left: 25px;
}

.project-div:hover .project-img {
  transition: all .5s ease-in;
  transform: scale(1.35);
}

.project-img {
  /*border-radius: 20px;*/
  transition: all .5s ease-out;
}

.learn-more-text {
  margin: auto 0;
}

.project-heading {
  margin: 0 10px;
}

a {
  text-decoration: none;
}

p {
  max-width: 1000px;
  margin: auto;
  color: var(--bs-gray-800);
}

.bar {
  /*margin: auto;*/
}

.nav-button {
  font-weight: 600;
  transition: transform 0.1s ease-out;
}

.nav-button:hover {
  transition: all 0.1s ease-out;
  transform: scale(1.05);
  /*min-width: 1000px;*/
}

.img-box {
  float: right;
  transition: transform 0.5s ease-out;
}

.img-box:hover {
  /*outline-style: solid;*/
  /*transition: all 0.25s ease-out;*/
  transition: width 1s, height 1s, transform 1s;
  /*transition-delay: 0.5s;*/
  transform: scale(1.2);
  transition-timing-function: ease-in;
}

.img-caption {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  display: inline-flex;
  background-color: #ffffff;
}

.zoom-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  border-radius: 12px;
  /*margin-top: 48px;*/
}

.img-circle {
  border-radius: 50%;
  float: right;
  shape-outside: circle();
}

.p-justified {
  /*text-align: justify;*/
}

.expertise-area {
  margin: auto;
  margin-top: 10px;
}

.project-title {
  margin: 0;
  font-weight: 700;
  color: #004e79;
  text-align: left;
}

